<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>


<div th:fragment="list">
    <div>
        <table class="table table-hover">
            <tbody>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
            <tr v-for="job in jobs">
                <td>{{ job.id }}</td>
                <td>{{ job.name }}</td>
                <td>{{ job.created }}</td>
                <td>
                    <button type="submit" class="btn btn-warning" v-on:click="showForm(job.id)">Edit</button>
                    <button type="submit" class="btn btn-danger" v-on:click="remove(job.id)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="box-footer">
            <button type="submit" class="btn btn-success" v-on:click="showForm(0)">Add new</button>
        </div>
    </div>
</div>

</body>
</html>