<!DOCTYPE html>
<html lang="en" layout:decorator="layout">

<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            Clusters list
            <a href="/clusters/form" class="btn btn-primary">Add new</a>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="box">
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>name</th>
                                <th style="width:120px">docker version</th>
                                <th>status</th>
                                <th>hosts</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cluster : ${clustersList}">
                                <td th:text="${cluster.id}"></td>
                                <td th:text="${cluster.name}"></td>
                                <td th:text="${cluster.dockerApiVersion}"></td>
                                <td>ok</td>
                                <td th:text="${cluster.hosts.size()}"></td>
                                <td>
                                    <div class="btn-group">
                                        <a th:href="@{/clusters/form(clusterId=${cluster.id})}" class="btn btn-warning">Edit</a>
                                        <form th:action="@{/clusters(clusterId=${cluster.id})}" th:method="delete" style="float:left;">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                        <a th:href="@{/clusters/newhost(clusterId=${cluster.id})}" class="btn btn-info">Add Host</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>