<!DOCTYPE html>
<html lang="en" layout:decorator="layout">

<body>
<div layout:fragment="content">
    <section class="content-header">
        <h1>
            Clusters list
            <a href="/clusters/form" class="btn btn-primary">Add new</a>
        </h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-solid">
                    <div class="box-body">
                        <div class="box-group" id="accordion">
                            <div class="panel box box-success" th:each="cluster,iterStat : ${clustersList}">
                                <div class="box-header with-border">
                                    <h4 class="box-title">
                                        <a data-toggle="collapse" data-parent="#accordion"
                                           th:href="${'#collapse_' + iterStat.index}"
                                           th:text="${cluster.name}"
                                           aria-expanded="false" class="collapsed">
                                        </a>
                                    </h4>
                                    <div class="btn-group pull-right">
                                        <a th:href="@{/clusters/newhost(clusterId=${cluster.id})}" class="btn btn-info">Add
                                            Host</a>
                                        <a th:href="@{/clusters/form(clusterId=${cluster.id})}" class="btn btn-warning">Edit</a>
                                        <form th:action="@{/clusters(clusterId=${cluster.id})}" th:method="delete"
                                              style="float:left;">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <div th:id="${'collapse_' + iterStat.index}" class="panel-collapse collapse" aria-expanded="true">
                                    <div class="box-body">
                                        <dl class="dl-horizontal">
                                            <dt>ID</dt>
                                            <dd th:text="${cluster.id}"></dd>
                                            <dt>Docker version</dt>
                                            <dd th:text="${cluster.dockerApiVersion}"></dd>
                                            <dt>Status</dt>
                                            <dd>Ok</dd>
                                            <dt>Hosts count</dt>
                                            <dd th:text="${cluster.hosts.size()}"></dd>
                                        </dl>
                                    </div>

                                    <div class="box-body no-padding">
                                        <div class="box-header">
                                            <h3 class="box-title">Hosts list</h3>
                                        </div>
                                        <table class="table table-condensed">
                                            <tbody><tr>
                                                <th style="width: 10px">#</th>
                                                <th>Name</th>
                                                <th>Url</th>
                                                <th>Host space</th>
                                                <th style="width: 40px">Status</th>
                                                <th style="width: 40px">Action</th>
                                            </tr>
                                            <tr th:each="host : ${cluster.hosts}">
                                                <td>
                                                    <a th:href="@{/cluster/{clusterId}/node/{nodeId}
                                                    (clusterId=${cluster.id},nodeId=${host.id})}"
                                                       th:text="${host.id}"></a>
                                                </td>
                                                <td th:text="${host.name}"></td>
                                                <td th:text="${host.dockerDaemonUrl}"></td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="badge bg-red">Error</span></td>
                                                <td>
                                                    <form th:action="@{/clusters/node(clusterId=${cluster.id},hostId=${host.id})}" th:method="delete">
                                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                                                    </form>
                                                </td>
                                            </tr>
                                            </tbody></table>
                                        <div class="box-footer clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>