<!DOCTYPE html>
<html lang="en" layout:decorator="layout">
<head>
</head>
<body>

<div layout:fragment="content">

    <section class="content-header">
        <h1>
            <a th:href="@{/cluster/{clusterId}/node/{nodeId}(clusterId=${clusterId}, nodeId=${node.id})}" th:text="${node.name}"></a>
        </h1>
    </section>

    <section class="content">
        <div th:replace="fragments/containers/statistics :: statistics"></div>
        <div th:replace="fragments/containers/logs :: log"></div>
    </section>
</div>

</body>
</html>