<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<header class="main-header" th:fragment="navigation">
    <a href="index" class="logo">
        <span class="logo-mini"><b>D</b>H</span>
        <span class="logo-lg"><b>DockHand</b></span>
    </a>

    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
    </nav>
</header>
</body>
</html>