<!DOCTYPE html>

<html lang="en">
<head>
</head>

<body>
<aside class="main-sidebar" th:fragment="sidebar">>
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li class="treeview">
                <a href="#"><i class="fa fa-server"></i> <span>Clusters</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/clusters/all"><span>Docker</span></a></li>
                </ul>
            </li>
            <li class="active"><a href="/jobs"><i class="fa fa-server"></i> <span>Jobs</span></a></li>
            <li><a href="/jobs"><i class="fa fa-server"></i> <span>Deployments</span></a></li>
        </ul>
    </section>
</aside>
</body>
</html>