<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Gentellela Alela! | </title>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"/>
    <link href="/css/custom.min.css" rel="stylesheet"/>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">

        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div th:replace="fragments/navigation :: navigation"></div>

        <div class="right_col" role="main">
            <div layout:fragment="content"></div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>

</body>
</html>