<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div th:fragment="statistics">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Container statistics</h3>
                </div>
                <div class="box-body">
                    <div class="x_content">
                        <div id="visualization"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/vis.min.js"></script>
    <link href="/css/vis.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/statistics.js"></script>
</div>

</body>
</html>