<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div th:fragment="statistics">
    <div class="row">
        <div th:replace="fragments/containers/statistics :: chart(title='Received bytes', chartId='visualization1')"></div>
        <div th:replace="fragments/containers/statistics :: chart(title='Sent bytes', chartId='visualization2')"></div>
    </div>
    <div class="row">
        <div th:replace="fragments/containers/statistics :: chart(title='Memory usage', chartId='visualization3')"></div>
        <div th:replace="fragments/containers/statistics :: chart(title='CPU total usage', chartId='visualization4')"></div>
    </div>
    <script src="/js/vis.min.js"></script>
    <link href="/css/vis.min.css" rel="stylesheet" type="text/css"/>
    <script src="/js/statistics.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
        var eventBus = new StatisticsEventBus("[[${clusterId}]]", "[[${node.id}]]", [[${container.id}]]);
        eventBus.addListener("rx_bytes", new StatisticChart("visualization1"));
        eventBus.addListener("tx_bytes", new StatisticChart("visualization2"));
        eventBus.addListener("memoryUsage", new StatisticChart("visualization3"));
        eventBus.addListener("cpuTotalUsage", new StatisticChart("visualization4"));
    /*]]>*/
    </script>
</div>

<div th:fragment="chart">
    <div class="col-md-4">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title" th:text="${title}"></h3>
            </div>
            <div class="box-body">
                <div class="x_content">
                    <div th:id="${chartId}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>